<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.demo.opencv">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpenCV.NoActionBar"
        tools:targetApi="31">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.foodsharetest.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name=".ConfirmCodeActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".EditName"
            android:exported="false" />
        <activity
            android:name=".TradeMSGActivity"
            android:exported="false" />
        <activity
            android:name=".UserOtherInfo"
            android:exported="false" />
        <activity
            android:name=".UserSelfInfo"
            android:exported="false" />
        <activity
            android:name=".ObjectDetectionActivity"
            android:exported="false" />
        <activity
            android:name=".TopicActivity"
            android:exported="false" />
        <activity
            android:name=".CardArtActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".wxapi.WXPayEntryActivity" -->
        <!-- android:exported="true" -->
        <!-- android:launchMode="singleTop"/> -->
        <!-- <receiver android:name=".wxapi.AppRegister" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.View"/> -->
        <!-- <category android:name="android.intent.category.DEFAULT"/> -->
        <!-- &lt;!&ndash;                <data android:scheme="wx02c0a3d876ecd1b8"/>&ndash;&gt; -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity
            android:name=".ArtInformationActivity"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".JavaImageProcessActivity"
            android:exported="false" />
        <activity
            android:name=".OpenCvImageProcessActivity"
            android:exported="false" />
        <activity
            android:name=".CameraOpenCVActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>